%%
%% Copyright (c) dushin.net
%% All rights reserved.
%%
{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps, [packbeam]}.
{escript_main_app, packbeam}.
{escript_name, packbeam}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{plugins, [rebar3_hex]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
