%%
%% Copyright (c) dushin.net
%% All rights reserved.
%%
{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps, [packbeam]}.
{escript_main_app, packbeam}.
{escript_name, packbeam}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{ex_doc, [
    {source_url, <<"https://github.com/atomvm/atomvm_packbeam">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.
{hex, [{doc, edoc}]}.
{plugins, [rebar3_hex]}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]},{cover_enabled, true}]}]}.
